@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FBF0;
  --foreground: #000000;
  --color-primary: #CF4A3C; /* Example: Green */
  --color-surface: #F6F1E6;
  --color-gray-50: 249, 250, 251;
  --color-gray-500: 107, 114, 128;
  --color-gray-600: 75, 85, 99;
  --color-gray-700: 55, 65, 81;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}